.film-detail {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__header {
    color: $orange;
    font-size: 14px;
    margin-bottom: 10px;
  }

  &__info{
    margin-bottom: 20px;
    font-size: 18px;
  }

  @media (min-width: $breakpoint-over-mobile) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.film-detail__image-list-container {
  width : 100%;
  margin: 0 0 20px 0;

  img {
    width: 100%;
  }

  @media (min-width: $breakpoint-over-mobile) {
    width : 50%;
    marign: auto;
    text-align: center;

    img {
      max-width: 80%;
    }
  }
}

.film-detail__film-detail-container {
  width : 100%;
  display: flex;
  flex-direction: column;
  order: -1;

  @media (min-width: $breakpoint-over-mobile) {
    width : 50%;
    order: 1;
  }
}

.film-detail__info {
  &--title {
    font-size: 28px;
    font-weight: 500;

    @media (min-width: $breakpoint-over-mobile) {
      font-size: 24px;
    }
  }

  &--rating {
    display: flex;
    flex-direction: row;

    span {
      display: block;
      width: 80%;
    }
  }

  &--rating-bar {
    display: flex;
    margin-top: 5px;
    width: 100%;
    background-color: $darkGrey;
  }

  &--bar-size {
    display: flex;
    height: 15px;
    background-color: $orange;
  }
}