// --------------------------------
// FONTS
// --------------------------------
$font-faimly: Raleway, Arial, Helvetica, sans-serif;

// --------------------------------
// COLOURS
// --------------------------------
$black: #000;
$white: #fff;
$grey: #eee;
$midgrey: #ddd;
$darkGrey: #bbb;
$blue: #6ebae1;
$orange: #e38c5b;
$totalsBackground: #f8f9f7;

// --------------------------------
// BREAKPOINTS
// --------------------------------
$breakpoint-over-mobile: 768px;
$breakpoint-small-mobile: 450px;